*{
    background-color: aliceblue;
    font-family: 'Montserrat', sans-serif;
}

.navigation{
    display: flex;
    justify-content: space-between;
    
}

.image{
    height: 400px;
    width: 400px;
}